$orange: #ff5400;
$white: #fff;
$grey: #778;
$grey-dark: #444444;
$grey-dark: #383A3F;
$grey-light: #a7a7a7;
$grey-light-light: #eee;
$dark: #000;
$dark-middle: #151515;
$lemon: #69af00;

$bbbbb: #6B37FE;

$primary: $orange;

// Fuentes
$font-light: $white;
$font-grey: $grey;
$font-dark: $dark;

$boder-light: $white;
$border-grey-light: $grey-light;
$boder-grey: $grey-dark;

$background-light: $white;
$background-grey-light: $grey-light-light;
$background-grey: $grey-light;
$background-grey-dark: $grey-dark;
$background-dark: $dark-middle;
$background-dark-absolute: $dark;

$success: $lemon;
